.wrapper {
  background-color: #FDEADC;
  background-image: url('../../../assets/images/login-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}