<div class="navigation sticky z-40 flex justify-center items-center w-full bg-white drop-shadow-md">
  <div class="container relative 2xl:px-5 xl:px-5 lg:px-5 md:px-5 sm:px-2 px-2">
    <div
      *ngIf="showCartModal" 
      class="absolute top-14 right-5"
    >
      <e-cartmodal></e-cartmodal>
    </div>
    <div class="w-full p-2 grid-cols-4 grid 2xl:grid-cols-12 xl:grid-cols-12 lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-4 2xl:gap-5 xl:gap-5 lg:gap-5 md:gap-5 sm:gap-2 gap-2">
      <div class="flex col-span-4 2xl:col-span-8 xl:col-span-8 lg:col-span-5 md:col-span-5 sm:col-span-4">
        <button 
          class="p-button-rounded p-button-text mr-3"
          pButton 
          pRipple 
          type="button" 
          icon="fa-solid fa-house text-own-dark-brown" 
          (click)="backToHownTown()"
        ></button>
        <button 
          class="p-button-rounded p-button-text mr-3"
          pButton 
          pRipple 
          type="button" 
          icon="pi pi-filter-fill text-own-dark-brown"
          (click)="emitEvent(true)"
        ></button>
        <div class="p-inputgroup rounded-3xl overflow-hidden">
          <span class="p-inputgroup-addon bg-own-light-brown border-0">
            <i class="pi pi-search"></i>
          </span>
          <input 
            class="bg-own-light-brown border-0"
            type="text" 
            pInputText 
            placeholder="Tìm kiếm"
            [(ngModel)]="searchText"
            (ngModelChange)="emitInputValue(searchText)"
          >         
        </div>
      </div>
      <div class="col-span-4 md:col-span-3 xl:col-span-4 flex justify-end items-center">
        <p-button 
          class="mr-4"
          icon="fa-solid fa-cart-shopping" 
          label="giỏ hàng"
          styleClass="p-button-secondary" 
          [badge]="cartLength.toString()" 
          badgeClass="p-badge-warning"
          (click)="showCartModal = !showCartModal"
        ></p-button>
        <p-avatar 
          class="flex items-center"
          shape="circle"
          [image]="user.avatar || 'https://i1.sndcdn.com/artworks-000189080723-ez2uad-t500x500.jpg'"
          (click)="router.navigate(['customer-purchase/user'])"
        ></p-avatar>
      </div>
    </div>
  </div>
</div>