.upload-input {
  font-family: inherit;
  // font-size: 0;
  font-weight: inherit;
  line-height: inherit;
  color: transparent;
  margin: 0;
  padding: 20px 40px;
  position: absolute;
  display: none;
  top: 66px;
}