/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-button.p-button-info, .p-buttonset.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button {
  color: #ffffff;
  background: #604837;
  border: 1px solid #604837
}

.p-button.p-button-info:enabled:hover, .p-buttonset.p-button-info > .p-button:enabled:hover, .p-splitbutton.p-button-info > .p-button:enabled:hover {
  color: #ffffff;
  background: #B79175;
  border: 1px solid #B79175
}

.p-accordion .p-accordion-content {
  padding: 0;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
